{% extends 'blog/base.html' %}
{% block content %}
  <div class='gridContainer2'>
    {% for post in posts %}
    <div class="olderPost">
        <img src='{{post.image_link}}'/>
        <div class="date">
            <p>PUBLISHED: {{ post.published_date }}</p>
        </div>
        <h2><a class='titles' href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <a class='buttons' href="{% url 'post_detail' pk=post.pk %}"> See More</a>
    </div>
   {% endfor %}
  </div>
</div>
{% endblock %}
