.page-header {
    background-color: #57AE88;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-bottom: 1px solid #0C6C42;

}

#recentPost a {
  color: white;
}

#recentPost h1 {
  font-weight: bold;
}

.glyphicon-plus {
  padding-top: 25px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin: auto;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.post_text {
  padding-left: 5px;
}

.glyphicon-edit {
  padding-top: 25px;
}

.gridContainer1 {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 250px 150px;
}

#recentPost {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #57AE89;
  text-align: center;
  padding: 5px;
  word-wrap: break-word
}



.gridContainer2 {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 300px;
  grid-column-gap: 20px;
  grid-auto-flow: row;
  grid-row-gap: 30px;
}


@media only screen and (max-width: 900px) {
  .gridContainer1 {
    display: grid;
    grid-template-columns: 200px 200px 200px 100px 100px;
    grid-template-rows: 500px;
  }
}

@media only screen and (max-width: 800px) {
  .gridContainer1 {
    display: grid;
    grid-template-columns: 200px 200px 100px 100px 100px;
    grid-template-rows: 500px;
  }
}

@media only screen and (max-width: 700px) {
  .gridContainer1 {
    display: grid;
    grid-template-columns: 200px 100px 100px 100px 100px;
    grid-template-rows: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .gridContainer1 {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .gridContainer1 {
    display: grid;
    grid-template-columns: 100px 100px 100px 50px 50px;
    grid-template-rows: 500px;
  }
}
